{% extends "app_supp_calendar/base.html" %}

{% block content %}

  <body>
    <div class="calendar-buttons">
      <a href="{% url 'calendar:month_view' pk=team.pk year=prev_date.year month=prev_date.month day=prev_date.day %}">Previous Month</a>
      <a href="{% url 'calendar:month_view' pk=team.pk year=current_date.year month=current_date.month day=current_date.day %}">Current Month</a>
      <a href="{% url 'calendar:month_view' pk=team.pk year=next_date.year month=next_date.month day=next_date.day %}">Next Month</a>
    </div>
    {% for week in calendar %}
    <table>
      <tr>
        <td></td>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
        <td>Sunday</td>
      </tr>
      <tr>
        <td></td>
        {% for date in week.dates %}
          <td>{{ date }}</td>
        {% endfor %}
      </tr>
      {% for row in week.rows %}
        <tr>
          <td>
            <p>{{ row.template.shift_name }}</p>
            <p>{{ row.template.start_time }} - {{ row.template.end_time }}</p>
          </td>
          {% for day in row.shifts %}
            {% if day.context == 'inactive' %}
              <td>inactive</td>
            {% elif day.context == 'active' %}
              <td><a href="{% url 'shifts:shift_create' pk=row.template.pk year=day.date.year month=day.date.month day=day.date.day %}">[edit_shift]</a></td>
            {% elif day.context == 'unoccupied' %}
              <td><a href="{% url 'shifts:shift_assign' pk=day.shift.pk year=day.date.year month=day.date.month day=day.date.day %}">[edit_shift]</a></td>
            {% elif day.context == 'occupied' %}
              <td>
                <a href="{% url 'shifts:shift_assign' pk=day.shift.pk year=day.date.year month=day.date.month day=day.date.day %}">[edit_shift]</a>
                {% for user in day.users %}
                  <p>{{ user.get_full_name }}</p>
                {% endfor %}
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
    <br>
    <br>
    <br>
    {% endfor %}

{% endblock %}
