{% extends "app_supp_calendar/base.html" %}

{% block content %}

  <body>
    <div class="calendar-buttons">
      <a href="{% url 'calendar:month_view' pk=team.pk year=prev_date.year month=prev_date.month day=prev_date.day %}">Previous Month</a>
      <a href="{% url 'calendar:month_view' pk=team.pk year=current_date.year month=current_date.month day=current_date.day %}">Current Month</a>
      <a href="{% url 'calendar:month_view' pk=team.pk year=next_date.year month=next_date.month day=next_date.day %}">Next Month</a>
    </div>
    {% for dates, week in calendar %}
    <table>
      <tr>
        <td></td>
        {% for day in dates %}
          <td>{{ day }}</td>
        {% endfor %}
      </tr>
      {% for template, shift in week %}
      <tr>
        <td>
          <p>{{ template.shift_name }}</p>
          <p>{{ template.start_time }} - {{ template.end_time }}</p>
        </td>
        {% for day in shift %}
          <td>{{ day.1 }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
  </body>

{% endblock %}
